name: UU Publish Snapshot
permissions:
  contents: read

on:
  workflow_call:
    inputs:
      module_name:
        description: 'Gradle module name'
        required: false
        type: string
        default: 'library'
      module_folder:
        description: 'Gradle module folder'
        required: false
        type: string
        default: '.'
      build_suffix:
        description: 'Build Suffix'
        required: false
        type: string
        default: ''
    secrets:
      MAVEN_CENTRAL_NEXUS_URL:
        required: true
      MAVEN_CENTRAL_SNAPSHOT_URL:
        required: true
      OSSRH_USERNAME:
        required: true
      OSSRH_PASSWORD:
        required: true
      SIGNING_KEY_ID:
        required: true
      SIGNING_PASSWORD:
        required: true
      SIGNING_KEY:
        required: true
      SONATYPE_STAGING_PROFILE_ID:
        required: true

jobs:

  publish-snapshot:
    name: Publish Snapshot
    runs-on: macos-latest
    steps:
      - name: Publish Snapshot
        uses: SilverPineSoftware/UUKotlinBuild/.github/actions/uu-publish-snapshot@main
        with:
          module_name: ${{ inputs.module_name }}
          module_folder: ${{ inputs.module_folder }}
          build_suffix: ${{ inputs.build_suffix }}
          java_distribution: ${{ vars.UU_JAVA_DISTRIBUTION }}
          java_version: ${{ vars.UU_JAVA_VERSION }}
          maven_central_nexus_url: ${{ secrets.MAVEN_CENTRAL_NEXUS_URL }}
          maven_central_snapshot_url: ${{ secrets.MAVEN_CENTRAL_SNAPSHOT_URL }}
          ossrh_username: ${{ secrets.OSSRH_USERNAME }}
          ossrh_password: ${{ secrets.OSSRH_PASSWORD }}
          signing_key_id: ${{ secrets.SIGNING_KEY_ID }}
          signing_password: ${{ secrets.SIGNING_PASSWORD }}
          signing_key: ${{ secrets.SIGNING_KEY }}
          sonatype_staging_profile_id: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}