name: UU Publish Prepare

on:
  workflow_call:
    inputs:
      module_path:
        description: 'Gradle module path'
        required: false
        type: string
        default: 'library'

jobs:
  publish:
    name: Prepare to Publish
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: ${{ vars.UU_JAVA_DISTRIBUTION }}
          java-version: ${{ vars.UU_JAVA_VERSION }}
          
      - name: Update Version
        run: ./scripts/update_version.sh
        env:
          BUILD_NUMBER: ${{github.run_number}}

      - name: Clean
        run: ./gradlew clean
      
      - name: Test Library
        run: ./gradlew :${{ inputs.module_path }}:test
      
      - name: Assemble Library Release
        run: ./gradlew :${{ inputs.module_path }}:assembleRelease
