name: UU Publish Release

on:
  workflow_call:
    inputs:
      module_path:
        description: 'Gradle module path'
        required: false
        type: string
        default: 'library'
    secrets:
      MAVEN_CENTRAL_NEXUS_URL:
        required: true
      MAVEN_CENTRAL_SNAPSHOT_URL:
        required: true
      OSSRH_USERNAME:
        required: true
      OSSRH_PASSWORD:
        required: true
      SIGNING_KEY_ID:
        required: true
      SIGNING_PASSWORD:
        required: true
      SIGNING_KEY:
        required: true
      SONATYPE_STAGING_PROFILE_ID:
        required: true

jobs:

  publish-snapshot:
    name: Publish Snapshot
    runs-on: macos-latest
    steps:
    
      - name: Prepare
        uses: SilverPineSoftware/UUKotlinBuild/.github/workflows/uu_library_publish_prepare.yml@main
        with:
          module_path: ${{ inputs.module_path }}
          build_number: ${{ github.run_number }}

      - name: Publish to Maven Central
        run: ./gradlew publishReleasePublicationToSonatypeRepository --max-workers 1 closeAndReleaseSonatypeStagingRepository -PbuildSnapshot=false  
        env:
          MAVEN_CENTRAL_NEXUS_URL: ${{ secrets.MAVEN_CENTRAL_NEXUS_URL }}
          MAVEN_CENTRAL_SNAPSHOT_URL: ${{ secrets.MAVEN_CENTRAL_SNAPSHOT_URL }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
    