name: UU Tests
permissions:
  contents: read
 
on:
  workflow_call:
    inputs:
      runner:
        description: 'Runner environment'
        required: false
        type: string
        default: 'ubuntu-latest'
      module_name:
        description: 'Gradle module name'
        required: false
        type: string
        default: 'app'
      module_folder:
        description: 'Gradle module folder'
        required: false
        type: string
        default: '.'
      java_distribution:
        description: 'Java distribution'
        required: false
        type: string
      java_version:
        description: 'Java version'
        required: false
        type: string
        
jobs:
  tests:
    name: Run Unit Tests
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Run Tests
        uses: SilverPineSoftware/UUKotlinBuild/.github/actions/uu-tests@main
        with:
          module_name: ${{ inputs.module_name }}
          module_folder: ${{ inputs.module_folder }}
          build_suffix: ${{ github.run_number }}
          java_distribution: ${{ inputs.java_distribution || vars.UU_JAVA_DISTRIBUTION }}
          java_version: ${{ inputs.java_version || vars.UU_JAVA_VERSION }}

