name: UU Tests
permissions:
  contents: read
 
on:
  workflow_call:
    inputs:
      runner:
        description: 'Runner environment'
        required: false
        type: string
        default: 'ubuntu-latest'
      module_path:
        description: 'Gradle module path'
        required: false
        type: string
        default: 'library'
        
jobs:
  tests:
    name: Run Unit Tests
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Run Tests
        uses: SilverPineSoftware/UUKotlinBuild/.github/actions/uu-tests@main
        with:
          module_path: ${{ inputs.module_path }}
          build_number: ${{ github.run_number }}
          java_distribution: ${{ vars.UU_JAVA_DISTRIBUTION }}
          java_version: ${{ vars.UU_JAVA_VERSION }}

